<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion de datos de estudiantes</title>
    <link rel="stylesheet" href="../css/editStyle.css">
</head>

<body>


    <h1>Modificacion de datos de los registros</h1>
    <div class="updateContainer">
        <form action="/crearReporte/update/<%= reporte.id %>" method="POST">
           <table>
            <thead>
                <tr>
                    <th>Id de equipo</th>
                    <th>Fecha y hora del reporte</th>
                    <th>Síntoma reportado</th>
                    <th>Diagnóstico</th>
                    <th>Acción correctiva</th>
                    <th>Piezas remplazadas</th>
                    <th>Tiempo de inactividad(horas)</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><input type="text" name="Id_equipo" value="<%= reporte.Id_equipo %>"></td>
                        <td><%= reporte.Fecha_y_hora_reporte %></td>
                        <td><input type="text" name="Sintoma_reportado" value="<%= reporte.Sintoma_reportado %>"></td>
                        <td><input type="text" name="Diagnostico" value="<%= reporte.Diagnostico %>"></td>
                        <td><input type="text" name="Accion_correctiva" value="<%= reporte.Accion_correctiva %>"></td>
                        <td><input type="text" name="Piezas_remplazadas" value="<%= reporte.Piezas_remplazadas %>"></td>
                        <td><input type="text" name="Tiempo_de_inactividad" value="<%= reporte.Tiempo_de_inactividad %>"></td>
                    </tr>
      
            </tbody>
           </table>
            <button type="submit">Actualizar datos</button>
        </form>

    </div>


</body>

</html>